

    <mat-tab-group label="tab" class="mat-tab-group-grey mat-tab-group-no-overflow"         [selectedIndex]="selectedIndex" (selectedIndexChange)="onTabChange($event)">
        <!-- START TABS -->
        <mat-tab label="tab" *ngFor="let tab of tabs">
          {{ tab.name }}
          <ag-grid-angular style="height: 200px"
                           [gridOptions]="gridOptions"
                            class="ag-theme-balham">
          </ag-grid-angular>
        </mat-tab>
        <!-- END TABS -->
    </mat-tab-group>